branch-demo/
.git
*.tar
*.iso
mongo/
Сохраните: Ctrl+O, Enter, Ctrl+X.

Проверьте, что файл теперь чистый:
bash
file .gitignore
Должно быть что-то вроде ASCII text, а не UTF-16 Unicode text.

Проверьте, что игнорирование теперь работает правильно:
bash
git check-ignore -v 03-docker/02-home-work/Dockerfile
branch-demo/
*.tar
*.iso
mongo/
